@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
   

}

main{
    background-image: url(/img/banner.gif);
    background-size: cover;
    background-attachment: fixed;
    height: 107rem;
    padding: 5vw 0vw;
   
}

#container{
    width: 81.2vw;
    margin: auto;    
   
}

#bxBranco{
 background-color: white;
 padding: 2vw 1vw;
 border-radius: 1.5rem;
 width: 51.5vw;
 margin: auto;

}

#texto{ 
    text-align: center;
    border: dashed #B7A765 2px;
    padding: 1vw 8vw;
    border-radius: 1.5rem;
}

#texto h1{
    font-family: "Dekko", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    
}

#texto p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4vw;
    line-height: 1.5em;
    padding: 1vw 0vw;
    
}

#anjinho_direito{
    width: 13.8vw;
    float: right;
    position: sticky;
    top: 15vw;
 
   
}


#anjinho_esquerdo{
    width: 25vw;
    float: left;
    position: fixed;
    bottom: 0;
    left: 1.5vw;
    
}

#bxBranco:hover{
  box-shadow: 0px 0px 30px rgba(248, 223, 0, 0.5);
}

#anjinho_direito:hover{
    display: none;
   
}





